<header>
  <div class="container">
    <a class="logo">Stock Parser</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/52wklow">52 week low hit</a></li>
        <li><a href="#" routerLink="/52wkhigh">52 week high hit</a></li>
        <li><a href="#" routerLink="/5plow">5% low</a></li>
        <li><a href="#" routerLink="/5phigh">5% high</a></li>
        <li><a href="#" routerLink="/addorrefresh">Refresh</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>